<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

        {% if not all %}
            <header class="section-header">
                <h2>Dernières actualités</h2>
                <p>Recent posts form our Blog</p>
            </header>
        {% endif %}
        <div class="row">
           {% for post in blogPosts %}
                <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img"><img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                        <span class="post-title">{{ post.titre }}</span>
                        <span class="post-date">{{ post.date|date('Y-m-d H:i:s') }}</span>
                        <p>{{ post.contenu|u.truncate(200,'...',true) }}</p>
                        <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

</section>