<section id="values" class="values">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Les dernières réalisation</h2>
            <p>Liste des trois dernières réalisations</p>
        </header>

        <div class="row">
             {% for peinture in peintures %}
                        <div class="col-lg-4">
                            <div class="box" data-aos="fade-up" data-aos-delay="200">
                                <img src="{{ vich_uploader_asset(peinture,'imageFile') }}" class="img-fluid" alt="">
                                <h3>{{ peinture.nom }}</h3>
                                <p>{{ peinture.description|u.truncate(200,true) }}</p>
                            </div>
                        </div>
            {% endfor %}
        </div>

    </div>

</section><!-- End Values Section -->
