{% extends "base.html.twig" %}

{% block body %}
    <section id="blog" class="blog" style="margin-top: 80px;margin-left: 50px;width: 137%;">
        <div class="row">

            <div class="col-lg-8 entries">
                <article class="entry entry-single">
                    <h2 class="entry-title">
                        {{ blogPost.titre }}
                    </h2>
                    <div class="entry-content">
                        <p>
                            {{ blogPost.contenu }}
                        </p>
                        {% include "Commentaire/commentaire.html.twig" %}
                        <p><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Laisser un commentaire</button></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    {%  include "commentaire/form.html.twig" %}
{% endblock %}