{% extends 'base.html.twig' %}

{% block title %} Actualités {% endblock %}

{% block body %}

    {% include "home/blogpost.html.twig" with {all:true} %}
    <div class="row" style="margin-left: 103px;">
        {% do blogPosts.setPageRange(2) %}
        {{ knp_pagination_render(blogPosts,'partiels/pagination.html.twig') }}
    </div>

{% endblock %}
